* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.grid-container {
  max-width: 700px;
  min-width: 200px;
  margin: 10px auto;
}

table {
  margin: 0 auto;
  /* width: 70%; */
  border: 3px solid gray;
  border-collapse: collapse;
}

.control-panel {
  max-width: 360px;
  min-width: 230px;
  margin: 10px auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-parent {
  max-width: 230px;
  min-width: 200px;
}

.slider {
  touch-action: none;
}

.cell {
  border: 1px solid lightgray;
  padding-top: max(min(2.4vw, 0.9rem), 6.75px);
  padding-bottom: max(min(3.4vw, 0.9rem), 6.75px);
  padding-left: max(min(3.2vw, 1.2rem), 9px);
  padding-right: max(min(3.2vw, 1.2rem), 9px);
  text-align: center;
  color: black;
  font-size: max(min(3vw, 1rem), 8px);
  background: rgb(238, 237, 237);
}

.cell.pendingsolve {
  border: 1px solid lightgray;
  color: white;
  background: rgb(255, 255, 255);
}

.cell.solving {
  border: 1px solid lightgray;
  color: rgb(0, 0, 0);
  background: rgb(248, 222, 188);
}

.cell.solved {
  border: 1px solid lightgray;
  color: rgb(2, 73, 2);
  background: rgb(207, 255, 207);
}

.cell.current {
  border: 1px solid rgb(0, 0, 0);
  background: rgb(252, 206, 147);
}

tr:nth-of-type(3n) {
  border-bottom: 3px solid gray;
}

td:nth-child(3n) {
  border-right: 3px solid gray;
}
