* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  min-width: 200px;
  margin: 0 auto;
}

table {
  margin: 10px auto;
  /* width: 70%; */
  border: 3px solid gray;
  border-collapse: collapse;
}

.sliderparent {
  width: 40%;
  margin: 5px;
}

.slider {
  margin-left: 50px;
}

.cell {
  border: 1px solid lightgray;
  padding-top: max(min(2.4vw, 0.9rem), 7.5px);
  padding-bottom: max(min(3.4vw, 0.9rem), 7.5px);
  padding-left: max(min(3.2vw, 1.2rem), 10px);
  padding-right: max(min(3.2vw, 1.2rem), 10px);
  text-align: center;
  color: black;
  font-size: max(min(3vw, 1rem), 8px);
  background: rgb(238, 237, 237);
}

.cell.pendingsolve {
  border: 1px solid lightgray;
  color: white;
  background: rgb(255, 255, 255);
}

.cell.solving {
  border: 1px solid lightgray;
  color: rgb(0, 0, 0);
  background: rgb(248, 222, 188);
}

.cell.solved {
  border: 1px solid lightgray;
  color: rgb(2, 73, 2);
  background: rgb(207, 255, 207);
}

.cell.current {
  border: 1px solid rgb(0, 0, 0);
  background: rgb(252, 206, 147);
}

tr:nth-of-type(3n) {
  border-bottom: 3px solid gray;
}

td:nth-child(3n) {
  border-right: 3px solid gray;
}
