* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  min-width: 270px;
  margin: 0 auto;
  padding: 0 10px;
}

table {
  margin: 30px 0;
  width: 70%;
  border: 3px solid gray;
  border-collapse: collapse;
}

.cell {
  border: 1px solid lightgray;
  padding: 12px 16px;
  text-align: center;
  color: black;
  background: rgb(238, 237, 237);
}

.cell.pendingsolve {
  border: 1px solid lightgray;
  padding: 12px 16px;
  text-align: center;
  color: white;
  background: rgb(255, 255, 255);
}

.cell.solving {
  border: 1px solid lightgray;
  padding: 12px 16px;
  text-align: center;
  color: rgb(0, 0, 0);
  background: rgb(248, 222, 188);
}

.cell.solved {
  border: 1px solid lightgray;
  padding: 12px 16px;
  text-align: center;
  color: rgb(2, 73, 2);
  background: rgb(207, 255, 207);
}

.cell.current {
  border: 1px solid rgb(0, 0, 0);
  padding: 12px 16px;
  text-align: center;
  background: rgb(252, 206, 147);
}

tr:nth-of-type(3n) {
  border-bottom: 3px solid gray;
}

td:nth-child(3n) {
  border-right: 3px solid gray;
}
